- content_for :javascripts do
	:javascript
		$( document ).ready( function() {
			$( 'select' ).live( 'change', function() {
				var option_values_string = '?option_values=';
		
				$( 'select' ).each( function() {
					option_values_string += $( this ).val();
					option_values_string += 'x'
				});
	
				$.ajax({
					type: 	 "GET",
					dataType: "script",
					url: 		 '/goods/' + '#{ @good.friendly_id }' + option_values_string
				});
			});
		});